<button mat-button id="menu" (click)="exit()">Return to menu</button>
<button mat-fab id="top" (click)="top()">^</button>
<div *ngIf="biggerCards.length !== 0" class="shading"></div>
<div *ngIf="biggerCards.length !== 0" class="picture" (click)="setBiggerCards([])">
  <img *ngFor="let card of biggerCards"[src]="card.image">
</div>
<div id="leaderboards" (scroll)="onScroll()">
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <ng-container matColumnDef="position">
      <th mat-header-cell *matHeaderCellDef> No. </th>
      <td mat-cell *matCellDef="let element"> {{element.position}} </td>
    </ng-container>

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>
        <input class="forms name" type="text" [(ngModel)]="filter.name" (keyup)="change()">
      </th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>

    <ng-container matColumnDef="win">
      <th mat-header-cell *matHeaderCellDef>
        <select class="forms win" [(ngModel)]="filter.win" (change)="change()">
          <option [ngValue]=null>Win/Lose</option>
          <option [ngValue]=true>Win</option>
          <option [ngValue]=false>Lose</option>
        </select>
      </th>
      <td mat-cell *matCellDef="let element">
        <mat-checkbox [(ngModel)]="element.win" [indeterminate]="!element.win" disabled></mat-checkbox>
      </td>
    </ng-container>

    <ng-container matColumnDef="score">
      <th mat-header-cell *matHeaderCellDef> Score </th>
      <td mat-cell *matCellDef="let element"> {{element.score}} </td>
    </ng-container>

    <ng-container matColumnDef="mastermind">
      <th mat-header-cell *matHeaderCellDef>
        <select class="forms mastermind" [(ngModel)]="filter.mastermind" (change)="change()">
          <option [ngValue]=null>Mastermind</option>
          <option *ngFor="let mastermind of mastermindsList" [ngValue]="mastermind">{{name(mastermind)}}</option>
        </select>
      </th>
      <td mat-cell *matCellDef="let element">
        <img class="card" [src]="box.mastermindBox.cards[element.mastermind].image" (click)="biggerMastermind(box.mastermindBox.cards[element.mastermind])">
      </td>
    </ng-container>

    <ng-container matColumnDef="scheme">
      <th mat-header-cell *matHeaderCellDef>
        <select class="forms scheme" [(ngModel)]="filter.scheme" (change)="change()">
          <option [ngValue]=null>Scheme</option>
          <option *ngFor="let scheme of schemeList" [ngValue]="scheme">{{name(scheme)}}</option>
        </select>
      </th>
      <td mat-cell *matCellDef="let element">
        <img class="card" [src]="box.schemeBox.cards[element.scheme].image" (click)="setBiggerCards([box.schemeBox.cards[element.scheme]])">
      </td>
    </ng-container>

    <ng-container matColumnDef="heroses">
      <th mat-header-cell *matHeaderCellDef>
        <select class="forms villains" [(ngModel)]="filter.heroses">
          <option [ngValue]=true>Heroses</option>
          <option [ngValue]=false>Villains</option>
        </select>
      </th>
      <td mat-cell *matCellDef="let element">
        <ng-container *ngIf="filter.heroses">
          <img class="card heroses" *ngFor="let hero of element.heroses" [src]="box.herosesBox.cards[hero].image" (click)="setBiggerCards(box.herosesBox.cards[hero])">
        </ng-container>
        <ng-container *ngIf="!filter.heroses">
          <img class="card heroses" *ngFor="let villain of element.villains" [src]="box.villainsBox.cards[villain].image" (click)="setBiggerCards(box.villainsBox.cards[villain])">
          <img class="card heroses" *ngFor="let henchman of element.henchmen" [src]="box.henchmenBox.cards[henchman].image" (click)="setBiggerCards(box.henchmenBox.cards[henchman])">
        </ng-container>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns, sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>