<div class="page">
  <button mat-button id="menu" (click)="exit()">Return to menu</button>
  <button mat-fab id="top" (click)="top()">^</button>
  <app-ko *ngIf="window.screen.width > 1450" class="ko"></app-ko>
  <div id="leaderboards" (scroll)="onScroll()">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

      <ng-container matColumnDef="position">
        <th mat-header-cell *matHeaderCellDef> No. </th>
        <td mat-cell *matCellDef="let element"> {{element.position}} </td>
      </ng-container>

      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> 
          <input class="forms name" type="text" [(ngModel)]="filter.name" (keyup)="change()">
        </th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
      </ng-container>

      <ng-container matColumnDef="win">
        <th mat-header-cell *matHeaderCellDef> 
          <select class="forms win" [(ngModel)]="filter.win" (change)="change()">
            <option [ngValue]=null>Win/Lose</option>
            <option [ngValue]=true>Win</option>
            <option [ngValue]=false>Lose</option>
          </select>
        </th>
        <td mat-cell *matCellDef="let element">
            <mat-checkbox [(ngModel)]="element.win" [indeterminate]="!element.win" disabled></mat-checkbox>
          </td>
      </ng-container>

      <ng-container matColumnDef="score">
        <th mat-header-cell *matHeaderCellDef> Score </th>
        <td mat-cell *matCellDef="let element"> {{element.score}} </td>
      </ng-container>

      <ng-container matColumnDef="mastermind">
        <th mat-header-cell *matHeaderCellDef>
          <select class="forms mastermind" [(ngModel)]="filter.mastermind" (change)="change()">
            <option [ngValue]=null>Mastermind</option>
            <option *ngFor="let mastermind of mastermindsList" [ngValue]="mastermind">{{mastermind}}</option>
          </select>
        </th>
        <td mat-cell *matCellDef="let element">
          <app-card class="card" [src]="box.mastermindBox.cards[element.mastermind].image"></app-card>
        </td>
      </ng-container>

      <ng-container matColumnDef="scheme">
        <th mat-header-cell *matHeaderCellDef>
          <select class="forms scheme" [(ngModel)]="filter.scheme" (change)="change()">
            <option [ngValue]=null>Scheme</option>
            <option *ngFor="let scheme of schemeList" [ngValue]="scheme">{{scheme}}</option>
          </select>
        </th>
        <td mat-cell *matCellDef="let element">
          <app-card class="card" [src]="box.schemeBox.cards[element.scheme].image"></app-card>
        </td>
      </ng-container>

      <ng-container matColumnDef="heroses">
        <th mat-header-cell *matHeaderCellDef> Heroses </th>
        <td mat-cell *matCellDef="let element">
          <app-card class="heroses card" *ngFor="let hero of element.heroses" [src]="box.heroBox.cards[hero].image"></app-card>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns, sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
</div>