.cards-list {
    width: 76.2vh;
    height: 20.4vh;
    text-align: left;
    color: white;
    border-bottom: 2px solid #207aad;
    overflow-y: scroll;
}

img{
    height: 18.32vh;
    width: 13.19vh;
    margin: 4px;
    cursor: pointer;
}

.preview {
    position: absolute;
    width: 100vw;
    top: -13.5vh;
}

.preview img {
    height: 35.3vh;
    width:20.7vh;
    margin: 0 275px;
}