<div class="cards-list">
    <div class="field" *ngFor="let field of fields.slice().reverse(); let index = index">
        <div class="villain">
            <app-card *ngIf="field.card!=null" [src]="field.card.image" (click)="attack(fields.length-index-1)"></app-card>
        </div>
        <div class="bystander">
            <app-card *ngIf="field.bystanders.length!=0" [src]="field.bystanders[0].image" (click)="viewBystanders(field.place, field.bystanders)"></app-card>
        </div>
    </div>
</div>