@import '~@angular/material/prebuilt-themes/purple-green.css';
/* dialog */

.cdk-global-overlay-wrapper {
    top: 25vh;
    left: 0.3vh;
}

.cdk-overlay-pane {
    width: 81vh;
    height: 46.7vh;
}

.cdk-overlay-pane h1, .cdk-overlay-pane h2, .cdk-overlay-pane h3, .cdk-overlay-pane h4, .cdk-overlay-pane h5, .cdk-overlay-pane h6 {
    color: goldenrod;
    text-align: center;
}

.cdk-overlay-pane img {
    margin: 4px;
    height: 18.32vh;
    width: 13.19vh;
}

.cdk-overlay-pane .preview {
    position: absolute;
    width: 100vw;
    top: -13.5vh;
}

.cdk-overlay-pane .preview img {
    height: 35.3vh;
    width: 25.5vh;
    margin: 0 240px;
}

/* forms */

.mat-form-field-appearance-legacy .mat-form-field-label {
    color: firebrick;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    font-size: 40px;
}

.mat-form-field {
    color: goldenrod;
    font-size: 50px;
}

/* button */

.mat-fab.mat-accent, .mat-flat-button.mat-accent, .mat-mini-fab.mat-accent, .mat-raised-button.mat-accent {
    background-color: #3f51b5;
    color: white;
}

/* checkbox */
.mat-checkbox-disabled.mat-checkbox-checked .mat-checkbox-background, .mat-checkbox-background {
    background-color: green;
}

.mat-checkbox-disabled.mat-checkbox-indeterminate .mat-checkbox-background {
    background-color: firebrick;
}