<div class="board">
    <div class="left-board">
        <div class="additional-block"></div>
        <app-scheme-deck></app-scheme-deck>
        <app-mastermind-deck></app-mastermind-deck>
        <app-shield-deck></app-shield-deck>
    </div>
    <div class="center-board">
        <app-escaped-villains></app-escaped-villains>
        <app-ko></app-ko>
        <app-wounds-deck></app-wounds-deck>
        <app-cityscape></app-cityscape>
        <app-hq></app-hq>
    </div>
    <div class="right-board">
        <div class="additional-block"></div>
        <app-bystanders-deck></app-bystanders-deck>
    </div>
</div>