<div class="board">
    <div class="left-board">
        <div class="additional-block"></div>
        <div class="deck scheme">
            <app-card *ngIf="board.scheme" [src]="board.scheme.image"></app-card>
        </div>
        <div class="deck mastermind">
            <app-card *ngIf="board.mastermind" [src]="board.mastermind.image"></app-card>
        </div>
        <div class="deck shield">
            <app-card *ngIf="board.shieldDeck.cards" [src]="board.shieldDeck.cards[0].image" (click)="recruitShieldOfficer()"></app-card>
        </div>
    </div>
    <div class="center-board">
        <app-cityscape></app-cityscape>
        <app-hq></app-hq>
        <div class="deck escapedVillains">
            <app-card *ngIf="board.escapedVillain.cards[board.escapedVillain.cards.length - 1]" 
                      [src]="board.escapedVillain.cards[board.escapedVillain.cards.length - 1].image">
            </app-card>
        </div>
        <app-ko></app-ko>
        <div class="deck wounds">
            <app-card *ngIf="board.woundsDeck.cards" [src]="board.woundsDeck.cards[0].image"></app-card>
        </div>
    </div>
    <div class="right-board">
        <div class="additional-block">
            <ul class="playerStats">
                <li>Attack: {{board.playerAttack}}</li>
                <li>Recruting Points: {{board.playerRecrutingPoints}}</li>
            </ul>
            <img src="/assets/player_hand.jpg" (click)="playerHand()">
            <img src="/assets/next_turn.jpg">
        </div>
        <div class="deck bystanders">
            <app-card *ngIf="board.bystandersDeck.cards" [src]="board.bystandersDeck.cards[0].image"></app-card>
        </div>
    </div>
</div>