<div class="board">
    <div class="left-board">
        <div class="additional-block">
            <img src="assets/ko.jpg" (click)="viewCards('KO',board.KO)">
            <img src="assets/victory_pile.jpg" (click)="viewCards('Victory Pile',board.victoryPile)">
        </div>
        <div class="deck scheme">
            <app-card *ngIf="board.scheme" [src]="board.scheme.image"></app-card>
            <div class="text-in-deck" *ngIf="board.scheme">{{board.scheme.counterTwist}}</div>
        </div>
        <div class="deck mastermind">
            <div class="additional-card">
                <app-card *ngIf="board.mastermind && board.mastermind.additionalCard.length!=0" [src]="board.mastermind.additionalCard[0].image" (click)="viewCards('Mastermind',board.mastermind.additionalCard)"></app-card>
            </div>
            <div class="captured-bystanders">
                <app-card *ngIf="board.mastermind && board.mastermind.bystanders.length!=0" [src]="board.mastermind.bystanders[0].image" (click)="viewCards('Bystanders in Mastermind',board.mastermind.bystanders)"></app-card>
            </div>
            <div class="villain">
                <app-card *ngIf="board.mastermind" [src]="board.mastermind.image" (click)="attackMastermind()"></app-card>
            </div>
            <div class="text-in-deck" *ngIf="board.mastermind">{{board.mastermind.tactics.length}}</div>
        </div>
        <div class="deck shield">
            <app-card *ngIf="board.shieldDeck.length != 0" [src]="board.shieldDeck[0].image" (click)="recruitShieldOfficer()"></app-card>
        </div>
    </div>
    <div class="center-board">
        <app-cityscape></app-cityscape>
        <app-hq></app-hq>
        <div class="deck escapedVillains">
            <app-card *ngIf="board.escapedVillain[board.escapedVillain.length - 1]" [src]="board.escapedVillain[board.escapedVillain.length - 1].image"
                (click)="viewCards('Escaped Villains',board.escapedVillain)">
            </app-card>
        </div>
        <app-ko></app-ko>
        <div class="deck wounds">
            <app-card *ngIf="board.woundsDeck.length != 0" [src]="board.woundsDeck[0].image"></app-card>
        </div>
    </div>
    <div class="right-board">
        <div class="additional-block">
            <ul class="playerStats">
                <li>Attack: {{board.playerAttack}}</li>
                <li>Recruting Points: {{board.playerRecrutingPoints}}</li>
            </ul>
            <img src="assets/player_hand.jpg" (click)="playerHand()">
            <img src="assets/next_turn.jpg" (click)="nextTurn()">
        </div>
        <div class="deck bystanders">
            <app-card *ngIf="board.bystandersDeck.length != 0" [src]="board.bystandersDeck[0].image"></app-card>
        </div>
    </div>
</div>