.board {
    width: 140vh;
    height: 100vh;
    background-image: url('/assets/legendary_board.jpg');
    background-size: 140vh 100vh;
    margin: auto;
}

.left-board {
    border: 2px solid green;
    height: 100vh;
    width: 22.08vh;
    float: left;
    margin-left: 6.65vh;
}

.center-board {
    border: 2px solid green;
    height: 100vh;
    width: 84vh;
    float: left;
}

.right-board {
    border: 2px solid green;
    height: 100vh;
    width: 25.75vh;
    float: left;
}

.additional-block {
    border: 2px solid red;
    width: 21.5vh;
    height: 18.17vh;
    position: relative;
    top: 2.53vh;
    
}

.deck {
    border: 2px solid red;
    height: 18.32vh;
    width: 13.19vh;
    position: relative;
}

.cards-list {
    border: 2px solid red;
    position: relative;
    width: 81.21vh;
    height: 22.77vh;
    text-align: left;
    color: white;
}

.field {
    width: 16vh;
    height: 14.11vh;
    margin: 2.5vh 0.1vh 0 ;
    float: left;
    text-align: center;
}

.scheme {
    top: 8.2vh; 
}

.mastermind {
    top: 17.75vh;
}

.shield {
    top: 23.5vh; 
}

.wounds {
    float: left; 
    top: -20vh; 
    left: 15.3vh;
}

.bystanders {
    top: 8vh; 
    left: 8vh;
}

.escapedVillains {
    top: -17vh;
    left: -0.8vh;
    float: left;
    transform: rotate(90deg);
}