.disable-block {
    position: absolute;
    width: 100vw;
    height: 100vh;
    z-index: 10;
}

.board {
    width: 140vh;
    height: 100vh;
    background-image: url('/assets/legendary_board.jpg');
    background-size: 140vh 100vh;
    margin: auto;
}

.left-board {
    border-left: 2px solid transparent;
    border-right: 2px solid transparent;
    height: 100vh;
    width: 22.08vh;
    float: left;
    margin-left: 6.65vh;
}

.center-board {
    border-left: 2px solid transparent;
    border-right: 2px solid transparent;
    height: 100vh;
    width: 84vh;
    float: left;
}

.right-board {
    border-left: 2px solid transparent;
    border-right: 2px solid transparent;
    height: 100vh;
    width: 25.75vh;
    float: left;
}

.additional-block {
    border: 2px solid transparent;
    background-color: #207aad;
    width: 21.5vh;
    height: 18.17vh;
    position: relative;
    top: 2.2vh;
    text-align: center; 
    opacity: 0.9;
    
}

.deck {
    border: 2px solid transparent;
    height: 18.32vh;
    width: 13.19vh;
    position: relative;
    left: -0.3vh;
}

.cards-list {
    border: 2px solid transparent;
    position: relative;
    width: 81.21vh;
    height: 22.77vh;
    text-align: left;
    color: white;
}

.field {
    width: 16vh;
    height: 14.11vh;
    margin: 2.5vh 0.1vh 0 ;
    float: left;
    text-align: center;
}

.scheme {
    top: 8.2vh; 
}

.mastermind {
    top: 17.9vh;
}

.villain-deck {
    top: 17.75vh;
    left: 6vh;
}

.shield {
    top: 23.5vh; 
}

.hero {
    top: 23.5vh;
    left: 6vh;
}

.wounds {
    float: left; 
    top: -19vh; 
    left: 56vh;
}

.bystanders {
    top: 8vh; 
    left: 8vh;
}

.escapedVillains {
    top: -17vh;
    left: -0.8vh;
    float: left;
    transform: rotate(90deg);
}

.left-board .additional-block img {
    margin-top: 2.5vh;
}

.right-board .additional-block {
    left: -0.5vh;
}

.additional-block img {
    width: 8vh;
    height: 12vh;
    margin-right: 1vh;
}

.icon-in-deck {
    position: absolute;
    left: 135px;
}

.icon-mastermind, .icon-scheme {
    width: 4.2vh;
}

.icon-scheme {
    top: 0;
}

.icon-mastermind img {
    width: 4.15vh;
    height: 4.58vh;
}

.icon-scheme img {
    width: 2.1vh;
    height: 4.58vh;
}

.mastermind-card {
    position: absolute;
}

.captured-bystanders {
    position: absolute;
    left: 1.5vh;
}

.additional-card {
    position: absolute;
    top: -1.5vh;
}

.ko {
    position: absolute;
    top: 11.3vh;
    left: calc(50vw - 20.5vh);
}

.pointer {
    cursor: pointer;
}

.icon-container {
    position: relative;
    margin: 0 2px;
    float: left;
    width: 59px;
    height: 65px;
}

.icon-text {
    position: absolute;
    color: white;
    font-size: 45px;
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.icon-container img {
    width: 100%;
    height: 100%;
}

.name {
    color: goldenrod;
    margin: 20px 0px;
}