.ko {
    border: 2px solid transparent;
    width: 40.1vh;
    height: 35.3vh;
    position: relative;
    float: left;
    top: -35vh;
    left: 6.8vh;

} 

img {
    display: block;
    margin: auto;
    height: 35.3vh;
    width:20.7vh;
}